/* default css configurations*/

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	width:100%;
	background-color:#eee;
	color:#444;
	font-family: 'Source Sans Pro', sans-serif;
}


ol, li {
	margin-left:10px;
}

a {
	color:#111;
	text-decoration: none;
}

a:hover {
	color:#666;
}

hr{
	margin-top:2em;
	margin-bottom:1em;
	
}

.table{
	border-collapse:collapse;
	width:100%;
}
.table-header{
	text-align: left;
	border-buttom:1px solid #bbb;
}


